{% extends 'base_qr.html.twig' %}

{% block qr_body_class %}qrx-theme-{{ dark|default(false) ? 'dark' : 'light' }}{% endblock %}

{% block body %}
<div hx-get="{{ path('app_obs_qr_results') }}" hx-trigger="every 2s">
</div>
{% endblock %}
