<p class="vote-credit{% if ballot|default(false) %} vote-credit--ballot{% endif %}{% if inline|default(false) %} vote-credit--inline{% endif %}">
    Developed by <a href="https://complete3techsolutions.com/pages/service5" target="_blank" rel="noopener noreferrer">C3TS</a>
</p>
